
<h3><%= link_to "Add New Animal", new_animal_path %></h3>
<br>
<h3>Current Animals</h3>
<% @animals.each do |animal| %>
  <%= link_to animal.name, animal_path(animal.id), class: 'animal'%>
  <br>
<% end %>
