<% if @animal.nil? %>
<h1> 404 Not Found </h1>
<% else %>

<h2>Animal Profile</h2>

<h3><%= @animal.name %></h3>
<p><%= @animal.name %> is a <%= @animal.species %>.</p>
<p>They are <%= @animal.age %> year(s) old.</p>
<img src="http://lorempixel.com/400/200" />
<%end%>
